<!DOCTYPE html>
<html>
<head>
  <!-- test support should go into separate partial inside core and these file should probably be local -->
  <link rel="stylesheet" href="node_modules/mocha/mocha.css" type="text/css" media="screen" charset="utf-8">
  <script src="node_modules/mocha/mocha.js" type="application/javascript"></script>
  {{> ses-core-head }}
  {{> ses-see-head }}
</head>
<body>
  <div id="mocha"></div>
  {{> ses-core-header }}
  {{> ses-see-main }}

  {{> ses-core-scripts-body-js }}
</body>
</html>
