<div id="ses-see-main" 
  {{#if clazz}}class="{{clazz}}{{/if}}">
  See what you see and see to it that you see it.

  <input class="ses-see-saw" type="button" value="saw it">
  <div class="ses-see-sights"></div>
</div>
