<div id="ses-sleep-main">
  All you can sleep!

  <p class="ses-sleep-msg">Please look at two sights before you can sleep.</p>
  <input class="ses-sleep-slept" type="button" value="slept it">
  <div class="ses-sleep-beds"></div>
</div>
