<div id="ses-sleep-main"
  {{#if clazz}}class="{{clazz}}{{/if}}">
  <p class="ses-sleep-msg">You can sleep here after you eat</p>
  <input class="ses-sleep-slept" type="button" value="slept it">
  <div class="ses-sleep-beds"></div>
</div>
