#ses-aside-main {
  font-size: 24px;
  background: #111111;
  color: antiquewhite;
  padding: 10px;
  max-width: 140px;
  border-radius: 20px;
}

#ses-aside-main h3 {
  text-align: center;
  text-decoration: underline;
}

#ses-aside-main a {
  font-size: 24px;
  color: yellow;
  display: block;
  margin: 10px;
  text-align: center;
}
