<div id="ses-eat-main"
  {{#if clazz}}class="{{clazz}}{{/if}}">
  All you can eat!

  <p class="ses-eat-msg">Please look at two sights before you can eat.</p>
  <input class="ses-eat-ate" type="button" value="ate it">
  <div class="ses-eat-foods"></div>
</div>
