<!DOCTYPE html>
<html>
<head>
  {{> ses-core-head }}
  {{> ses-see-head }}
  {{> ses-eat-head }}
</head>
<body>
  {{> ses-core-header }}
  {{> ses-see-main }}
  {{> ses-eat-main }}

  {{> ses-core-scripts-body-js }}
</body>
</html>
